<template>
  <div class="content">
    <table>
        <thead>
          <tr>
              <th>Id</th>
              <th></th>
              <th>Name</th>
              <th>Email</th>
          </tr>
        </thead>

        <tbody>
          <tr v-for="i in data">
            <td >{{ i.id }}</td>
            <td>
              <img src="@/assets/images/avatar.svg" alt="">
            </td>
            <td>{{ i.name }}</td>
            <td>{{ i.email }}</td>
          </tr>
        </tbody>
      </table>
      <div
        class="add btn-floating btn-large waves-effect waves-light"
      >
        <i class="material-icons">add</i>
      </div>
  </div>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
const { mapState, mapActions } = createNamespacedHelpers('accounts')

export default {
  name: 'accounts',
  methods: mapActions(['get']),
  computed: mapState(['data']),
  mounted () {
    this.get()
  }
}
</script>

<style scoped lang="scss">
.content {
  position: relative;
}

.add {
  position: fixed;
  bottom: 20px;
  right: 20px;

}
</style>
