<template>
<form ref="form" novalidate v-material>
  <div class="content">
    <div
      class="file"
      :style="formData.avatar && { 'background-image': 'url(' + formData.avatar + ')' }"
    >
      <input
        ref="file"
        type="file"
        class="file-input"
        @change="processFile($event)"
      >
      <div
        v-if="formData.avatar"
        class="btn-floating add red"
        @click="resetImage"
      >
        <i class="material-icons">clear</i>
      </div>
    </div>

    <div class="input-field">
      <input
        required
        v-model="formData.name"
        placeholder="Full Name"
        type="text"
        class="validate"
      >
    </div>

    <div class="input-field">
      <input
        required
        v-model="formData.email"
        placeholder="Email"
        type="email"
        class="validate"
      >
    </div>

    <div class="input-field">
      <select required v-model="formData.country">
        <option value="" disabled selected>User Country</option>
        <option value="Ukraine">Ukraine</option>
        <option value="USA">USA</option>
      </select>
    </div>

    <button
      class="btn waves-effect waves-light"
      type="submit"
      name="button"
      @click="submit"
    >
      <span :class="{ 'hidden': pending }">Save</span>
      <div class="preloader">
        <div v-if="pending" class="preloader-wrapper active">
          <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
    </button>
  </div>
</form>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'user',
  data () {
    return {
      pending: false,
      formData: {
        image: '',
        name: '',
        email: '',
        country: '',
        permitions: ''
      }
    }
  },
  methods: {
    ...mapActions({
      create: 'accounts/create',
      toast: 'toast'
    }),

    processFile (e) {
      const reader = new FileReader()
      reader.onload = (e) => {
        this.$set(this.formData, 'image', e.target.result)
      }
      reader.readAsDataURL(e.target.files[0])
    },
    resetImage () {
      this.$set(this.formData, 'image', '')
    },
    reset () {
      this.formData = {
        image: '',
        name: '',
        email: '',
        country: '',
        permitions: ''
      }
    },
    submit (e) {
      e.preventDefault()
      if (this.$refs.form.checkValidity()) {
        this.pending = true
        this.create(this.formData).then(() => {
          this.pending = false
          this.reset()
        }, () => {
          this.pending = false
          this.toast({
            html: 'Something went wrong'
          })
        })
      } else {
        this.toast({
          html: 'From is not valid'
        })
      }
    }
  }
}
</script>

<style scoped lang="scss">
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field {
  min-width: 250px;
}

.file {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-image: url('../../../assets/images/avatar.svg');
  background-size: cover;
  cursor: pointer !important;
  position: relative;
}

.file-input {
  opacity: 0;
  display: block;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.add {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(25%, 25%);
}

.btn {
  position: relative;
}

.preloader {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.preloader-wrapper {
  height: 20px;
  width: 20px;
}

.hidden {
  opacity: 0;
}

</style>
