<template lang="html">
  <h1 class="title">OOPS! - Could not Find it</h1>
</template>

<script>
export default {
  name: 'not-found'
}
</script>

<style scoped lang="scss">
.title {
  position: absolute;
  left: 0%;
  top: 30%;
  text-align: center;
  width: 100%;
}
</style>
