<template>

<div id="modal-alert" class="modal bottom-sheet">
  <div class="modal-content">
    {{ message }}
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>

</template>

<script>
export default {
  name: 'alert',
  props: ['message']
}
</script>

<style lang="scss">
</style>
