<template>
  <alert :message="alertMessage" />
</template>

<script>
import { mapGetters } from 'vuex'

import alert from './alert'

export default {
  name: 'modals',
  components: {
    alert
  },
  computed: mapGetters(['alertMessage'])
}
</script>
