<template>
<form novalidate ref="form" v-material>
  <div class="position-piker">
    <div
      class="postion"
      v-for="postion in positions"
      :class="{ active: formData.postion == position, postion }"
      @click="formData.position = position"
    ></div>
  </div>
  <button
    class="btn waves-effect waves-light"
    @click="submit"
  >Далее</button>
</form>
</template>

<script>
export default {
  props: ['data'],
  data () {
    return {
      positions: [
        'top-left',
        'top',
        'top-right',
        'right',
        'bottom-right',
        'bottom',
        'bottom-left',
        'left'
      ],
      formData: {
        phone: ''
      }
    }
  },
  methods: {
    submit (e) {
      e.preventDefault()
      if (this.$refs.form.checkValidity()) {
        this.$emit('submit', this.formData)
      } else {
        this.$emit('error')
      }
    }
  },
  mounted () {
    if (!this.data) { return }
    this.formData = { ...this.data }
  }
}
</script>

<style scoped lang="scss">
.date-picker {
  display: flex;
}

.day {
  padding: 5px;
  &.active {
    background-color: #ff6f00;
  }
}
</style>
