<template>
<form novalidate ref="form" v-material>
  <div class="row">
    <div class="column">
      <b>Дни показа:</b>
      <div>
        <div class="date-picker z-depth-1">
          <div
            class="day"
            v-for="(day, i) in week"
            :class="{ active: day.active }"
            @click="selectDay(day)"
          >{{ day.title }}</div>
        </div>
      </div>

      <div class="date-picker-helpers">
        <div
          class="date-picker-helper"
          @click="dateRange({ dayOff: false })"
        >будни</div>
        <div
          class="date-picker-helper"
          @click="dateRange({ dayOff: true })"
        >выходные</div>
        <div
          class="date-picker-helper"
          @click="dateRange()"
        >ежедневно</div>
      </div>
    </div>
    <div class="column">
      <b>Время показа:</b>
      <div class="time-picker">
        <input
          @change="formData.workHours.from = $event.target.value"
          :value="formData.workHours.from"
          ref="timeFrom"
          required
          placeholder="От"
          type="text"
          class="validate timepicker"
        >
        <span>-</span>
        <input
          @change="formData.workHours.to = $event.target.value"
          :value="formData.workHours.to"
          ref="timeTo"
          required
          placeholder="До"
          type="text"
          class="validate timepicker"
        >
      </div>
    </div>

  </div>
  <div class="row">
    <div class="column">
      <div class="input-field">
        <input
          required
          v-model="formData.moneyLimit"
          placeholder="Лимит на поездку (грн)"
          type="text"
          class="validate"
        >
      </div>
    </div>
    <div class="column">
      <div class="input-field">
        <input
          v-model="formData.travelsLimit"
          required
          placeholder="Лимит поездок в день"
          type="text"
          class="validate"
        >
      </div>
    </div>
  </div>
  <div class="row">
    <div class="input-field column">
      <select v-model="formData.carClass" required class="validate">
        <option value="" disabled selected>Класс автомобиля</option>
        <option value="Эконом">Эконом</option>
        <option value="Премиум">Премиум</option>
      </select>
    </div>
  </div>
  <button
    class="btn waves-effect waves-light"
    @click="submit"
  >Далее</button>
</form>
</template>

<script>
export default {
  props: ['data'],
  data () {
    return {
      week: [
        { title: 'пн', active: false, dayOff: false },
        { title: 'вт', active: false, dayOff: false },
        { title: 'ср', active: false, dayOff: false },
        { title: 'чт', active: false, dayOff: false },
        { title: 'пт', active: false, dayOff: false },
        { title: 'сб', active: false, dayOff: true },
        { title: 'вс', active: false, dayOff: true }
      ],
      formData: {
        workDays: [],
        workHours: {
          from: '',
          to: ''
        },
        travelsLimit: null,
        moneyLimit: null,
        carClass: null
      }
    }
  },
  methods: {
    submit (e) {
      e.preventDefault()
      if (this.$refs.form.checkValidity()) {
        this.$emit('submit', this.formData)
      } else {
        this.$emit('error')
      }
    },
    selectDay (day) {
      day.active = !day.active
      this.formData.workDays = _(this.week)
        .filter('active')
        .map('title')
        .value()
    },
    dateRange (params) {
      this.week = this.week.map(day => ({
        ...day,
        active: params ? params.dayOff === day.dayOff : true
      }))
      this.formData.workDays = _(this.week)
        .filter('active')
        .map('title')
        .value()
    },
    init () {
      const pickers = [
        this.$refs.timeFrom,
        this.$refs.timeTo
      ]
      pickers.forEach((el) => {
        window.M.Timepicker.init(el, { twelveHour: false })
      })
    }
  },
  mounted () {
    this.init()
    if (!this.data) { return }
    this.formData = { ...this.data }
    debugger
    this.week = this.week.map(day => ({
      ...day,
      active: this.data.workDays.includes(day.title)
    }))
  }
}
</script>

<style scoped lang="scss">
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.column {
  flex-basis: 100%;
  flex-shrink: 0;
  padding: 0 10px;

  @media (min-width: 992px) {
    flex-basis: 50%;
  }
}

.date-picker {
  display: inline-flex;
  clear: both;
  margin-top: 15px;
}

.day {
  padding: 10px;
  cursor: pointer;

  &.active {
    background-color: #ffd54f;
  }
}

.date-picker-helpers {
  display: flex;
  margin-bottom: 15px;
}

.date-picker-helper {
  margin: 5px;
  color: #555;
  border-bottom: 1px dashed #555;
  cursor: pointer;
}

.time-picker {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.timepicker {
  flex-basis: 40%;
  text-align: center;
}

</style>
