<template>
<form novalidate ref="form" v-material>
  <div class="input-field">
    <input
      v-model="formData.siteUrl"
      required
      placeholder="Url сайта"
      type="text"
      class="validate"
    >
  </div>
  <div class="inputs">
    <div class="input-field">
      <input
        v-model="formData.city"
        placeholder="Город"
        required
        type="text"
        class="validate"
      >
    </div>
    <div class="input-field">
      <input
        v-model="formData.street"
        placeholder="Улица"
        required
        type="text"
        class="validate"
      >
    </div>
    <div class="input-field">
      <input
        v-model="formData.home"
        placeholder="Дом"
        required
        type="text"
        class="validate"
      >
    </div>
  </div>
  <button
    class="btn waves-effect waves-light"
    @click="submit"
  >Далее</button>
</form>
</template>

<script>
export default {
  props: ['data'],
  data () {
    return {
      formData: {
        siteUrl: '',
        city: '',
        street: '',
        home: ''
      }
    }
  },
  methods: {
    submit (e) {
      e.preventDefault()
      if (this.$refs.form.checkValidity()) {
        this.$emit('submit', this.formData)
      } else {
        this.$emit('error')
      }
    }
  },
  mounted () {
    if (!this.data) { return }
    this.formData = { ...this.data }
  }
}
</script>

<style scoped lang="scss">
.inputs {
  display: flex;
  margin: 0 -15px;
  flex-wrap: wrap;
  .input-field {
    flex-basis: 100%;
    flex-shrink: 0;
    padding: 0 15px;

    @media (min-width: 992px) {
      flex-basis: 33.33%;
    }
  }
}
</style>
