<template>
<form novalidate ref="form" v-material>
  <div class="input-field">
    <input
      v-model="formData.code"
      required
      placeholder="Код подтверждения"
      type="text"
      class="validate"
    >
  </div>
  <button
    class="btn waves-effect waves-light"
    @click="submit"
  >Далее</button>
</form>
</template>

<script>
export default {
  props: ['data'],
  data () {
    return {
      formData: {
        phone: ''
      }
    }
  },
  methods: {
    submit (e) {
      e.preventDefault()
      if (this.$refs.form.checkValidity()) {
        this.$emit('submit', this.formData)
      } else {
        this.$emit('error')
      }
    }
  },
  mounted () {
    if (!this.data) { return }
    this.formData = { ...this.data }
  }
}
</script>

<style scoped lang="scss">
.input-field {
  @media (min-width: 992px) {
    width: 40%;
  }
}
</style>
