<template>
  <div class="wrapper">
    <taxi-header
      @logout="exit"
    ></taxi-header>
    <main class="main">
      <navbar/>
      <div class="content">
        <router-view/>
      </div>
    </main>
  </div>
</template>

<script>
import Modals from '@/common/modals.service'

import header from '@/components/header'
import navbar from '@/components/navbar'

import { mapActions } from 'vuex'

export default {
  components: {
    'taxi-header': header,
    navbar
  },
  methods: {
    ...mapActions([
      'logout'
    ]),

    exit () {
      this.logout().then(() => {
        this.$router.push('/login')
      })
    },

    open () {
      console.log(Modals)
      Modals.open('modal1')
    }
  }
}
</script>

<style scoped lang="scss">
.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.main {
  padding: 15px;
  display: flex;
  align-items:stretch;
  flex-basis: 100%;
}

.content {
  flex-basis: 100%;
  padding: 0 15px;
}
</style>
