<template>
  <header class="header">
    <div class="logo">Twidget</div>


    <div>
      <ul  id="dropdown2" class="dropdown-content">
        <li><a href="#">Change password</a></li>
        <li><a href="#">Accounts</a></li>
        <li><a href="#" @click="logout">Logout</a></li>
      </ul>
      <div ref="avatar" class="dropdown-trigger account" data-target="dropdown2"></div>
    </div>


    </div>
  </header>
</template>

<script>
export default {
  name: 'taxi-header',
  methods: {
    logout () {
      this.$emit('logout')
    }
  },
  mounted () {
    window.M.Dropdown.init(this.$refs.avatar, {
      constrainWidth: false,
      alignment: 'right'
    })
  }
}
</script>

<style lang="scss">
.header {
  background-color: #203A45;
  padding: 25px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}


.account {
  background-image: url('../assets/images/avatar.svg');
  height: 35px;
  width: 35px;
  background-size: contain;
  cursor: pointer;
  display: block;
}

.dropdown-content li>a {
  // font-size: 12px;
}
</style>
