<template>
<div class="navbar">
   <router-link  class="navbar-item" to="/widgets">
      <i class="material-icons">label</i>
      <div class="text">Виджеты</div>
  </router-link>
  <router-link class="navbar-item" to="/trip">
    <i class="material-icons">directions_car</i>
    <div class="text">Поездки</div>
  </router-link>
  <router-link class="navbar-item" to="/mailing">
    <i class="material-icons">local_post_office</i>
    <div class="text">Рассылки</div>
  </router-link>
  <router-link class="navbar-item" to="stat">
    <i class="material-icons">show_chart</i>
    <div class="text">Статистика</div>
  </router-link>
  <router-link class="navbar-item" to="/payment">
    <i class="material-icons">monetization_on</i>
    <div class="text">Платежи</div>
  </router-link>
  <router-link class="navbar-item" to="/accounts">
    <i class="material-icons">person</i>
    <div class="text">Пользователи</div>
  </router-link>

</div>
</template>

<script>
export default {
  name: 'navbar'
}
</script>

<style scoped lang="scss">
.navbar {
  padding-right: 20px;
}

.navbar-item {
  display: flex;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
  padding: 10px 0;
  opacity: .8;
  transition: .4s;
  color: #2c3e50;

  &:hover {
    opacity: 1;
    transform: translateX(5px);
    transition: .2s;
  }
}

.text {
  display: none;
  @media (min-width: 992px) {
    display: block;
  }
}

.material-icons {
  margin-right: 15px;
  font-size: 35px;
  @media (min-width: 992px) {
    font-size: 24px;
  }
}
</style>
