<template>
  <div class="z-depth-4">
    <div class="steps">
      <div
        v-for="(step, index) in steps"
        class="step"
        :class="{
          available: formData[index] || formData[index-1],
          active: $route.params.form == index + 1
        }"
        @click="moveTo(index)"
      >
      <div class="step-number">{{ index }}</div>
      <div class="step-text">{{ step }}</div>

    </div>
    </div>
    <div class="forms">
      <form1
        v-if="$route.params.form == 1"
        :data="formData[0]"
        @submit="submit"
        @error="onError"
      />
      <form2
        :data="formData[1]"
        v-if="$route.params.form == 2"
        @submit="submit"
        @error="onError"
      />
      <form3
        :data="formData[2]"
        v-if="$route.params.form == 3"
        @submit="submit"
        @error="onError"
      />
      <form4
        :data="formData[3]"
        v-if="$route.params.form == 4"
        @submit="submit"
        @error="onError"
      />
      <form5
        :data="formData[4]"
        v-if="$route.params.form == 5"
        @submit="submit"
        @error="onError"
      />
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

import form1 from './forms/form-1'
import form2 from './forms/form-2'
import form3 from './forms/form-3'
import form4 from './forms/form-4'
import form5 from './forms/form-5'

export default {
  name: 'widget',
  components: {
    form1,
    form2,
    form3,
    form4,
    form5
  },
  data () {
    return {
      formData: [

      ],
      steps: [
        'Офис',
        'Номер телефона',
        'Код подтверждения',
        'Поездки и расписание',
        'Отображение виджета'
      ],
      stepsDone: []
    }
  },
  methods: {
    ...mapActions(['toast']),

    submit (e) {
      this.$set(this.formData, this.$route.params.form - 1, e)
      this.next()
    },

    onError () {
      this.toast({
        html: 'Форма не валидна'
      })
    },

    next () {
      const next = 1 + Number(this.$route.params.form)
      this.$router.push({ params: { form: next } })
    },

    moveTo (index) {
      if (!this.formData[index] && !this.formData[index - 1]) { return }
      this.$router.push({ params: { form: index + 1 } })
    }
  },
  mounted () {
    // const active = Number(this.$route.params.form)
    // if (active === 1) { return }
    //
    // const lastFilled = _.findIndex(this.formData, Boolean)
    // if (lastFilled === active) { return }
    // if (lastFilled === -1) {
    //   return this.$router.push({ params: { form: 1 } })
    // }
    // this.$router.push({ params: { form: lastFilled + 1 } })
  }
}
</script>

<style scoped lang="scss">
.forms {
  padding: 15px 50px 25px;
  background-color: #fff;
}

.steps {
  display: flex;
  justify-content: space-around;
  background-color: #203A45;
  color: #fff;
  text-align: center;
}

.step {
  padding: 15px;
  cursor: default;
  font-weight: 600;
  display: flex;

  &.available {
    color: #ffecb3;
    cursor: pointer;
    .step-number {
      background-color: #ffecb3;
    }
  }
  &.active {
    color: #ffd54f;
    .step-number {
      background-color: #ffd54f;
    }
  }
}

.step-number {
  background-color: #fff;
  color: #203A45;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;

  @media (min-width: 992px) {
    display: none;
  }
}

.step-text {
  display: none;

  @media (min-width: 992px) {
    display: block;
  }
}
</style>
