<template>
  <div class="content">
    <table>
        <thead>
          <tr>
              <th>Id</th>
              <th></th>
              <th>Name</th>
              <th>Email</th>
          </tr>
        </thead>

        <tbody>
          <tr v-for="i in data">
            <td >{{ i.id }}</td>
            <td>
              <img src="@/assets/images/avatar.svg" alt="">
            </td>
            <td>{{ i.name }}</td>
            <td>{{ i.email }}</td>
          </tr>
        </tbody>
      </table>
      <router-link
        to="/widgets/add"
        class="add btn-floating btn-large waves-effect waves-light"
        @click="showModal({ id: 'modal-alert' })"
      >
        <i class="material-icons">add</i>
      </router-link>
  </div>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from 'vuex'

export default {
  name: 'widgets',
  methods: {
    ...mapActions(['getData', 'showModal']),
    ...mapMutations(['setType'])
  },
  computed: mapGetters(['data']),
  mounted () {
    this.setType({ type: 'widget' })
    this.getData()
  }
}
</script>

<style scoped lang="scss">
.content {
  position: relative;
}

.add {
  position: fixed;
  bottom: 20px;
  right: 20px;

}
</style>
