<template>
  <div class="form">
    <div class="wrapper input-field">
      <input
        type="text"
        v-model="email"
        name="email"
      >
      <label
        for="email"
        :class="{ 'active': email && email.length }"
      >Email</label>
    </div>

    <div class="wrapper input-field">
      <input
        class="input-field"
        type="password"
        v-model="password"
        name="password"
      >
      <label
        for="password"
        :class="{ 'active': password && password.length }"
      >Password</label>
    </div>

    <button
      class="btn waves-effect waves-light"
      type="submit"
      name="button"
      @click="submit"
    >Login</button>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  data: () => ({
    email: 'admin@example.com',
    password: 'aec1234rt'
  }),
  methods: {
    ...mapActions([
      'login'
    ]),

    submit () {
      this.pending = true
      this.login({ login: this.email, password: this.password })
        .then(() => {
          this.pending = false
          this.$router.push('/')
        })
    }
  }
}
</script>

<style scoped lang="scss">
.form {
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 50px;
  border-radius: 20px;
  transform: translate(-50%, -50%);
}

.wrapper {
  width: 300px;
  margin: 25px 0;
}

.btn {
  margin-top: 50px;
}
</style>
