<template>
  <div id="app">
    <router-view/>
    <modals/>
  </div>
</template>

<script>
import modals from '@/components/modals'

export default {
  name: 'app',
  components: {
    modals
  }
}
</script>

<style lang="scss">
* {
  /* border: 1px dashed #555 !important; */
  box-sizing: border-box;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  // height: 100vh;
}

body {
  background-color: #EFEFEF;
}

textarea {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}

.timepicker-digital-display {
  flex-basis: 25%;
  flex-shrink: 0;
}

</style>
